// Allow selects without input
.v-input.hide-input input {
    display: none;
}

// Remove all baggage from checkbox
.v-input--checkbox.v-input--simple {
    margin-top: 0;
    padding-top: 0;

    .v-input__slot {
        margin-bottom: 0;
    }

    .v-messages {
        display: none;
    }

}

// This should take priority over material-design-icons styles
.v-icon {
    display: inline-flex !important;
}

// Allow tile actions to be hidden if not hovered in non-mobile layouts
.layout-desktop, .layout-tablet {

    .v-list__tile__action.reveal-on-hover {
        display: none;
    }

    .v-list__tile:hover .v-list__tile__action.reveal-on-hover {
        display: flex;
    }

}
