@import '@aerogel/core';
@import '@aerogel/plugin-solid';
@import '@aerogel/plugin-local-first';

@import './fonts.css' layer(base);
@import './helpers.css' layer(base);
@import './reset.css' layer(base);

@theme {
    --font-*: initial;
    --font-onest: 'Onest', sans-serif;

    --color-primary: var(--color-primary-600);

    /* Defaults to 'sky' */
    --color-primary-50: #f0f9ff;
    --color-primary-100: #e0f2fe;
    --color-primary-200: #bae6fd;
    --color-primary-300: #7dd3fc;
    --color-primary-400: #38bdf8;
    --color-primary-500: #0ea5e9;
    --color-primary-600: #0284c7;
    --color-primary-700: #0369a1;
    --color-primary-800: #075985;
    --color-primary-900: #0c4a6e;
    --color-primary-950: #082f49;
}
