@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/onest-v6-latin_latin-ext-100.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/onest-v6-latin_latin-ext-200.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/onest-v6-latin_latin-ext-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/onest-v6-latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/onest-v6-latin_latin-ext-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/onest-v6-latin_latin-ext-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/onest-v6-latin_latin-ext-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/onest-v6-latin_latin-ext-800.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/onest-v6-latin_latin-ext-900.woff2') format('woff2');
}

:root {
    --primary-50: #eff6ff;
    --primary-100: #dbeafe;
    --primary-200: #bfdbfe;
    --primary-300: #93c5fd;
    --primary-400: #60a5fa;
    --primary-500: #3b82f6;
    --primary-600: #2563eb;
    --primary-700: #1d4ed8;
    --primary-800: #1e40af;
    --primary-900: #1e3a8a;
    --primary-950: #172554;
}
